<div class="container">
  <div class="user-blog">
    {{#each posts}}
    <div class="panel">
      <div class="panelheader">
        <a href="/blog/comment/{{dataValues.id}}">
          <h2>{{dataValues.title}}</h2>
        </a>
        <span>Posted By: <b> {{dataValues.user.dataValues.username}} </b> on {{dataValues.date}}</span>
      </div>
      <div class="panelbody">
        <p>{{dataValues.content}}</p>
      </div>
    </div>

    {{#if dataValues.comments}}
    <h2>Comments:</h2>
    {{/if}}
    {{#each dataValues.comments}}
    <div class="panel">
      <div class="panelheader">
      </div>
      <div class="panelbody">
        <p>{{dataValues.comment}}</p>
        <p>{{dataValues.username}} Posted on:{{dataValues.date}}</p>
      </div>
    </div>
    {{/each}}
    {{/each}}
  </div>
</div>